<%= render "shared/header" %>

<div class="profile-edit-main">
  <div class="profile-edit-form-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class:"profile-edit-form") do |f| %>
      <div class="form-wrapper">
        <div class="form-header">
            <h1 class="edit-form-header-text">
              - ユーザー情報編集 -
            </h1>
        </div>

        <%= render 'shared/error_messages', model: f.object %>

        <div class="form-group">
          <div class="form-text-wrap">
            <label class="edit-form-text">ニックネーム(30文字以内)</label>
          </div>
          <%= f.text_area :nickname, class: "edit-input-default", id: "nickname", placeholder: "ニックネーム【30文字以内】", rows: "1", maxlength: "30",  autofocus: true %>
        </div>

        <div class="form-group">
          <div class="form-text-wrap">
            <label class="edit-form-text">メールアドレス</label>
          </div>
          <%= f.email_field :email, class: "edit-input-default", id: "email", placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="form-group">
          <div class="form-text-wrap">
            <label class="edit-form-text">プロフィール画像</label>
          </div>
          <%= f.file_field :image, autofocus: true, id:"preview-image" %>
          <div id="image-list"></div>
        </div>

        <div class="form-group">
          <div class="form-text-wrap">
            <label class="edit-form-text">自己紹介（200字以内）</label>
          </div>
          <%= f.text_area :self_introduction, id: "self_introduction", placeholder: "自己紹介文を入力してください（200字以内）", rows: "3", maxlength: "200", autofocus: true %>
          <div id="image-list"></div>
        </div>

        <div class='profile-edit-btn-wrapper'>
          <%= f.submit "編集する" ,class:"profile-edit-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>