<%= render "shared/header" %>

<div class="profile-edit-main">
  <div class="profile-edit-form-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class:"profile-edit-form") do |f| %>
      <div class="form-wrap">
        <div class="form-header">
            <h1 class="form-header-text">
              ユーザー情報編集
            </h1>
        </div>

        <%= render 'shared/error_messages', model: f.object %>

        <div class="form-group">
          <div class="form-text-wrap">
            <label class="form-text">ニックネーム(10文字以内)</label>
          </div>
          <%= f.text_area :nickname, class: "input-default", id: "nickname", placeholder: "ニックネーム【10文字以内】", maxlength: "10",  autofocus: true %>
        </div>

        <div class="form-group">
          <div class="form-text-wrap">
            <label class="form-text">メールアドレス</label>
          </div>
          <%= f.email_field :email, class: "input-default", id: "email", placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="form-group">
          <div class="form-text-wrap">
            <label class="form-text">プロフィール画像</label>
          </div>
          <%= f.file_field :image, autofocus: true, id:"preview-image" %>
          <div id="image-list"></div>
        </div>

        <div class='register-btn'>
          <%= f.submit "編集する" ,class:"register-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>