<% if user_signed_in? %>
<%# ユーザーがログインしていなければ、こちらを表示 %>
  <% if Like.find_by(user_id: current_user.id, review_id: @review.id) %>
  <%# ユーザーがすでにレビューをいいねしていれば、いいねを解除するボタンを表示 %>
    <div class="like-btn-content">
      <p class="like-btn-text">
        <%= link_to likes_destroy_path(review_id: @review), method: :delete, class:"like-btn", remote: true do %>
          <i class="fas fa-thumbs-up like-click"></i> いいねしました！
          <span class="like-count">
            <%= @review.likes_count %>
          </span>
        <% end %>
      </p>
    </div>
  <% else %>
  <%# ユーザーがレビューをいいねしていなければ、いいねできるボタンを表示 %>
    <div class="like-btn-content">
      <p class="like-btn-text">
        <%= link_to likes_create_path(review_id: @review), method: :post, class:"like-btn", remote: true do %>
          <i class="far fa-thumbs-up like-notclick"></i> いいね！
          <span class="like-count">
            <%= @review.likes_count %>
          </span>
        <% end %>
      </p>
    </div>
  <% end %>
<% else %>
<%# ユーザーがログインしていない状態でいいねボタンをクリックすると、ログイン画面へ移動する %>
  <div class="like-btn-content">
      <p class="like-btn-text">
        <%= link_to new_user_session_path,class:"like-btn" do %>
          <i class="far fa-thumbs-up like-notclick"></i> いいね！
          <span class="like-count">
            <%= @review.likes_count %>
          </span>
        <% end %>
      </p>
  </div>
<% end %>