<% if user_signed_in? %>
  <% if Like.find_by(user_id: current_user.id, review_id: @review.id) %>
    <%= link_to "いいね！済み", "/likes/#{@review.id}/destroy", method: :post %>
    <span>
      <%= @like_count.length %>
    </span>
  <% else %>
    <%= link_to "いいね！", "/likes/#{@review.id}/create", method: :post %>
    <span>
      <%= @like_count.length %>
    </span>
  <% end %>
<% else %>
  <%= link_to "いいね！", new_user_session_path %>
  <span>
    <%= @like_count.length %>
  </span>
<% end %>