<% if user_signed_in? %>
  <% if Like.find_by(user_id: current_user.id, review_id: @review.id) %>
    <div class="like-btn-content">
      <%= link_to review_like_path(@review.id), method: :delete, class:"like-btn" do %>
        <p class="like-btn-text">
          <i class="fas fa-thumbs-up like-click"></i> いいね！
        </p>
      <% end %>
      <span class="like-count">
        <%= @like_count.length %>
      </span>
    </div>
  <% else %>
    <div class="like-btn-content">
      <%= link_to review_likes_path(@review.id), method: :post, class:"like-btn" do %>
        <p class="like-btn-text">
          <i class="far fa-thumbs-up like-notclick"></i> いいね！
        </p>
      <% end %>
      <span class="like-count">
        <%= @like_count.length %>
      </span>
    </div>
  <% end %>
<% else %>
  <div class="like-btn-content">
    <%= link_to new_user_session_path,class:"like-btn" do %>
      <p class="like-btn-text">
        <i class="far fa-thumbs-up like-notclick"></i> いいね！
      </p>
    <% end %>
    <span class="like-count">
      <%= @like_count.length %>
    </span>
  </div>
<% end %>