<%= render "shared/header" %>

<div class="mypage-main">
  <div class="mypage-content">
    <div class="profile-wrapper">
      <div class="image-and-name">
        <% if @user.image.attached? %>
          <div class="profile-image">
            <%= image_tag @user.image %>
          </div>
        <% else %>
          <div class="default-image">
            <%= image_tag "user.png", alt:"プロフィール画像が設定されていない時に表示" %>
          </div>
        <% end %>
        <div class="username-wrapper">
          <h2 class="user-name"><%= @nickname %></h2>
        </div>
      </div>
      <div class="follow-btn-wrapper">
        <%= render partial:"relationships/follow_button", locals: {user: @user} %>
      </div>
      
      <%# 自己紹介文 %>
      <% if @user.self_introduction %>
        <div class="self-introduction-wrapper">
          <p class="self-introduction">
            <%= @user.self_introduction %>
          </p>
        </div>
      <% end %>
      <%# 自己紹介文 %>

      <div class="follow-and-follower">
        <div class="followings-number-wrapper" id="followings-number">
          <span class="follow-number"><%= @followings.length %></span>
          <p>フォロー</p>
        </div>
        <div class="followers-number-wrapper" id="followers-number">
          <span class="follow-number" id="followers-number-id"><%= @followers.length %></span>
          <p>フォロワー</p>
        </div>
      </div>
    </div>

    <div class="followings-wrapper" id="followings-wrapper">
      <div class="follow-group">
        <h3 class="follow-title">フォロー</h3>
        <ul>
          <% if @followings.length > 0 %>
            <% @followings.each do |follow| %>
              <li class="follow-list">
                <%= link_to user_path(follow.follow.id) do %>
                  <% if follow.follow.image.attached? %>
                    <div class="follow-profile-image">
                      <%= image_tag follow.follow.image %>
                    </div>
                  <% else %>
                    <div class="follow-default-image">
                      <%= image_tag "user.png", alt:"プロフィール画像が設定されていない時に表示" %>
                    </div>
                  <% end %>
                  <span class="header-nickname"><%= follow.follow.nickname %></span>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <p>フォローしたユーザーはいません</p>
          <% end %>
        </ul>
      </div>
      <div id="followings-close-btn">
        <p>閉じる</p>
      </div>
    </div>

    <div class="followers-wrapper" id="followers-wrapper">
      <div class="follow-group">
        <h3 class="follow-title">フォロワー</h3>
        <div id="users-followers">
          <% if @followers %>
            <% @followers.each do |follower| %>
              <%= render partial: "relationships/relationship", locals: {follower: follower} %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="followers-close-btn">
        <p>閉じる</p>
      </div>
    </div>

    <div class="link-buttons">
      <% if user_signed_in? && (current_user.id == @user.id) %>
        <%= link_to edit_user_registration_path(current_user.id), class:"profile-edit-btn" do %>
          <div class="profile-edit-btn-wrapper">
              ユーザー情報編集
          </div>
        <% end %>
      <% end %>
      <%= link_to "/users/#{@user.id}/likes", class:"like-link-btn" do %>
        <div class="like-link-btn-wrapper">
          いいね一覧
        </div>
      <% end %>
    </div>

    <div class="review-lists-wrapper">
      <div class="review-lists-title-wrapper">
        <h3 id="review-lists-title">レビュー一覧</h3>
      </div>

        <%= render "shared/reviews" %>

    </div>
  </div>
</div>


<%= render "shared/footer" %>