<%= render "shared/header" %>

<div class="mypage-main">
  <div class="mypage-content">
      <div class="username-wrapper">
        <h2 class="user-name"><%= @nickname %>さんのレビュー一覧</h2>
      </div>
      <div class="like-link-wrapper">
        <%= link_to 'いいね一覧', "/users/#{@user.id}/likes", class:"like-link-btn"  %>
      </div>
    <ul class='review-lists'>
      <% if @reviews.length > 0 %>
        <% @reviews.each do |review| %>
          <li class='list'>
            <%= link_to review_path(review.id), class:"review-show-link" do %>
              <div class='review-info'>
                <div class='review-img-content'>
                  <%= image_tag review.image, class: "review-img" %>
                </div>
                <div class="top-review-detail">
                  <div class="top-review-group">
                    <span class="top-review-name">
                      商品名：
                    </span>
                    <h3 class="top-review-value">
                      <%= review.name %>
                    </h3>
                  </div>
                  <div class="top-review-group">
                    <span class="top-review-name">
                      ユーザー：
                    </span>
                    <h3 class="top-review-value">
                      <%= review.user.nickname %>
                    </h3>
                  </div>
                  <div class="top-review-group">
                    <span class="top-review-name">
                      メーカー：
                    </span>
                    <h3 class="top-review-value">
                      <%= review.manufacture.name %>
                    </h3>
                  </div>
                  <div class="top-review-group">
                    <span class="top-review-name">
                      総合評価：
                    </span>
                    <h3 class="top-review-value">
                      <%= review.evaluation.name %>
                    </h3>
                    <span class="top-review-name">
                      点
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>      
        <%# レビューがない場合のダミー %>
          <li class='list'>
            <%= link_to '#',class:"review-show-link" do %>
            <div class='review-info'>
              <div class='review-img-content'>
                <%= image_tag "sample.png", class: "review-img" %>
              </div>
              <div class="top-review-detail">
                <div class="top-review-group">
                  <span class="top-review-name">
                    商品名：
                  </span>
                  <h3 class="top-review-value">
                    <%= "ここに商品名が表示されます" %>
                  </h3>
                </div>
                <div class="top-review-group">
                  <span class="top-review-name">
                    ユーザー：
                  </span>
                  <h3 class="top-review-value">
                    <%= "ここにニックネームが表示されます" %>
                  </h3>
                </div>
                <div class="top-review-group">
                  <span class="top-review-name">
                    メーカー：
                  </span>
                  <h3 class="top-review-value">
                    <%= "ここにメーカー名が表示されます" %>
                  </h3>
                </div>
                <div class="top-review-group">
                  <span class="top-review-name">
                    総合評価（10点満点）：
                  </span>
                  <h3 class="top-review-value">
                    <%= "ここに総合評価の点数が表示されます" %>
                  </h3>
                </div>
              </div>
            </div>
            <% end %>
          </li>
        <%# //レビューがない場合のダミー %>
      <% end %>
    </ul>
  </div>
</div>


<%= render "shared/footer" %>