<header class="top-page-header">
      <div class="header-logo-wrapper">
        <%= link_to root_path, class: "header-logo" do %>
          <h1>Ping Pong Pimples <i class="fas fa-table-tennis"></i></h1>
        <% end %>
      </div>
      <div class="menu-wrapper">
        <p id="menu-btn">
          <i class="fas fa-bars"></i>
        </p>
      </div>

    <nav class="nav-menu">
      <ul class="nav-lists">
        <% if user_signed_in? %>
          <%= link_to "#", class:"like-link-btn" do %>
            <li id="like-link-btn">
              いいね一覧
            </li>
          <% end %>
          <%= link_to "#", class:"reviews-btn" do %>
            <li>
              投稿したレビュー
            </li>
          <% end %>
          <%= link_to user_path(current_user.id), class: "user-nickname" do %>
            <li>
              <div class="mypage-link">
                <div class="header-profile-image-wrapper">
                  <% if current_user.image.attached? %>
                    <div class="header-profile-image">
                      <%= image_tag current_user.image %>
                    </div>
                  <% else %>
                    <div class="header-default-image">
                      <%= image_tag "user.png", alt:"プロフィール画像が設定されていない時に表示" %>
                    </div>
                  <% end %>
                </div>
                <p class="header-nickname"><%= current_user.nickname %></p>
              </div>
            </li>
          <% end %>
          <%= link_to new_review_path, class:"review-btn" do %>
            <li>
              投稿する
            </li>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "logout" do %>
            <li id="logout">
              ログアウト
            </li>
          <% end %>
        <% else %>
          <%= link_to users_guest_sign_in_path, method: :post, class: "guest-login" do %>
            <li>
              ゲストログイン（閲覧用）
            </li>
          <% end %>
          <%= link_to new_user_session_path, class: "login" do %>
            <li>
              ログイン
            </li>
          <% end %>
          <%= link_to new_user_registration_path, class: "sign-up" do %>
            <li>
              新規登録
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  
</header>