<header class="top-page-header">
    <div class="header-left">
      <div class="menu-wrapper">
        <%= link_to "#", class: "menu-icon" do %>
          <i class="fas fa-bars"></i>
        <% end %>
      </div>
      <div class="header-logo-wrapper">
        <%= link_to root_path, class: "header-logo" do %>
          <h1>Ping Pong Pimples <i class="fas fa-table-tennis"></i></h1>
        <% end %>
      </div>
    </div>

    <div class="header-right">
      <ul class="nav-lists">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user.id), class: "user-nickname" do %>
              <div class="mypage-link">
                <div class="header-profile-image-wrapper">
                  <% if @user.image.attached? %>
                    <div class="header-profile-image">
                      <%= image_tag @user.image %>
                    </div>
                  <% else %>
                    <div class="header-default-image">
                      <%= image_tag "user.png", alt:"プロフィール画像が設定されていない時に表示" %>
                    </div>
                  <% end %>
                </div>
                <p class="header-nickname"><%= current_user.nickname %></p>
              </div>
            <% end %>
          </li>
          <li><%= link_to '投稿する', new_review_path, class:"review-btn" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  
</header>