<ul class='review-lists'>
  <% if @results.length != 0 %>
    <% @results.each do |result| %>
      <li class='list'>
        <%= link_to review_path(result.id), class:"review-show-link" do %>
          <div class='review-info'>
            <div class='review-img-content'>
              <%= image_tag result.image, class: "review-img" %>
            </div>
            <div class="top-review-detail">
              <div class="top-review-group">
                <span class="top-review-name">
                  商品名：
                </span>
                <h3 class="top-review-value">
                  <%= result.name %>
                </h3>
              </div>
              <div class="top-review-group">
                <span class="top-review-name">
                  ユーザー：
                </span>
                <h3 class="top-review-value">
                  <%= result.user.nickname %>
                </h3>
              </div>
              <div class="top-review-group">
                <span class="top-review-name">
                  メーカー：
                </span>
                <h3 class="top-review-value">
                  <%= result.manufacture.name %>
                </h3>
              </div>
              <div class="top-review-group">
                <span class="top-review-name">
                  総合評価：
                </span>
                <h3 class="top-review-value">
                  <%= result.evaluation.name %>
                </h3>
                <span class="top-review-name">
                  点
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    該当するレビューはありません。
  <% end %>
</ul>
<%= paginate @results,remote: true %>
