<%= render "shared/header" %>

<div class="main">
  <%= render 'layouts/notifications' %>
  <div class="title-contents">
    <div class="top-img"></div>
    <div class="service-title">
      <h1>ラバー選び、もう悩まない。</h1>
    </div>
    <div class="service-explain">
      <p>Ping Pong Pimplesは、卓球のラバーについてレビューを投稿できるサービスです。<br>あらゆるレビューを参考にし、自分に合った最適なラバーを選びましょう。</p>
      <% unless user_signed_in? %>
        <div class="service-guest-login">
          <p>ポートフォリオ用にゲストログイン機能を実装しております。</p>
          <%= link_to "ゲストログイン（閲覧用）",users_guest_sign_in_path, method: :post, class: "guest-login-btn" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="review-contents">
    <div class="main-top">
      <%= render "shared/search_form" %>
    </div>

    <div class="main-bottom">
      <div class="review-lists-title">
        <h2 class="new-review-title">- 最新レビュー -</h2>
      </div>

      <%= render "shared/reviews" %>
      <%= paginate @reviews %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
