<%= render "shared/header" %>

<div class="result-main">

  <div class="main-top">
    <%= render "shared/search_form" %>
  </div>

  <div class="main-bottom">
    <div class="result-title-wrapper">
      <h1 class="result-title">- 検索結果 -</h1>
    </div>
    <div id="pagination">
       <%= render partial: 'search_pagination' %>
    </div>
    <div class="top-page-back">
      <%=link_to  root_path, class: "back-btn" do %>
        <div class="back-btn-text">
          トップページにもどる
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>