<%= render "shared/header" %>

<div class="review-show">
  <div class="review-show-wrapper">
    <div class="show-user-profile-wrapper">
      <%= link_to user_path(@review.user.id), class: "user-profile-link" do %>
        <div class="show-user-profile">
          <% if @review.user.image.attached? %>
            <div class="show-user-image">
              <%= image_tag @review.user.image %>
            </div>
          <% else %>
            <div class="show-default-image">
              <%= image_tag "user.png", alt:"プロフィール画像が設定されていない時に表示" %>
            </div>
          <% end %>
          <div class="show-user-nickname">
            <%= @review.user.nickname %>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="review-show-image">
        <%= image_tag @review.image, class:"show-img" %>
    </div>

    <div class="product-info">
      <div class="product-info-title">
        <h2><i class="far fa-file-alt"></i> 商品情報</h2>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-product">商品名</th>
            <td class="detail-value"><%= @review.name %></td>
          </tr>
          <tr>
            <th class="detail-product">メーカー</th>
            <td class="detail-value"><%= @review.manufacture.name %></td>
          </tr>
          <tr>
            <th class="detail-product">ラバーの種類</th>
            <td class="detail-value"><%= @review.type.name %></td>
          </tr>
          <tr>
            <th class="detail-product">打球感</th>
            <td class="detail-value"><%= @review.hardness.name %></td>
          </tr>
          <tr>
            <th class="detail-product">価格</th>
            <td class="detail-value"><%= @review.price %><span>円</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="user-evaluation">
      <div class="user-evaluation-title">
        <h2><i class="fas fa-poll"></i> 評価</h2>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-product">スピード</th>
            <td class="detail-value"><%= @review.speed.name %><span>点</span></td>
          </tr>
          <tr>
            <th class="detail-product">スピン</th>
            <td class="detail-value"><%= @review.spin.name %><span>点</span></td>
          </tr>
          <tr>
            <th class="detail-product">コントロール</th>
            <td class="detail-value"><%= @review.control.name %><span>点</span></td>
          </tr>
          <tr>
            <th class="detail-product">総合評価</th>
            <td class="detail-value"><%= @review.speed.name %><span>点</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="product-content">
      <div class="detail-content-title">
        <h2>その他コメント</h2>
      </div>
      <div class="detail-content">
        <%= safe_join(@review.content.split("\n"),tag(:br)) %>
      </div>
    </div>

    <%# 動画表示欄 %>
    <% if @review.video.attached? %>
      <div class="video-wrapper">
        <h3 class="video-title">動画</h3>
        <div class="show-video">
          <video src="<%= rails_blob_path(@review.video) %>" type="video/mp4" controls ></video>
        </div>
      </div>
    <% end %>
    <%# 動画表示欄 %>

    <%# いいね機能 %>
      <div class="like-button-box">
        <%= render partial: "likes/like", locals: {review: @review} %>
      </div>
    <%# いいね機能/%>

    <% if user_signed_in? && current_user.id == @review.user_id %>
      <div class="review-buttons">
        <%= link_to edit_review_path, class:"edit-btn" do %>
          <div class="edit-btn-wrapper">
            <h3>
              <i class="fas fa-pen-nib"></i> 編集する
            </h3>
          </div>
        <% end %>
        <%= link_to review_path(@review.id), method: :delete, class:"delete-btn", data: { confirm: "レビューを完全に削除してもよろしいですか？" } do %>
          <div class="delete-btn-wrapper">
            <h3>
              <i class="fas fa-exclamation-triangle"></i> 削除する
            </h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# コメント機能 %>
  <div class="comments">
    <%# コメント入力フォーム %>
    <div class="comment-form">
      <% if current_user %>
        <%= form_with(model: [@review, @comment], remote: true) do |form| %>
          <div class="comment-input-wrapper">
            <%= form.text_area :content, placeholder: "コメントを入力してください", rows: "3", class:"comment-input" %>
          </div>
          <div class="comment-btn-wrapper">
            <%= form.submit "コメント", class:"comment-btn" %>
          </div>
        <% end %>
      <% else %>
        <strong><p>コメントの投稿には新規登録/ログインが必要です</p></strong>
      <% end %>
    </div>
    <%# コメント入力フォーム %>

    <%# コメント表示欄 %>
    <div class="comments-show-wrapper">
      <div class="amount-of-comments">
        <div class="comments-number">
          <%= render partial: 'comments/comments_count', locals: { comments_count: @comments_count } %>
        </div>
        <div class="comments-text">
          <h4>件のコメント</h4>
        </div>
      </div>
      <div id="users-comments">
        <% if @comments %>
          <%= render @comments %>
          <div id="more-comments-wrapper">
            <%= link_to_next_page @comments, 'もっと見る',remote: true, id:"more-comments" %>
          </div>
        <% end %>
      </div>
    </div>
    <%# コメント表示欄 %>
  </div>
  <%# コメント機能 %>
</div>

<%= render "shared/footer" %>
