<%= render "shared/header" %>

<div class="review-show">
  <div class="review-show-wrapper">

    <div class="review-show-image">
        <%= image_tag @review.image, class:"show-img" %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-product">ユーザー名</th>
          <td class="detail-value"><%= @review.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-product">商品名</th>
          <td class="detail-value"><%= @review.name %></td>
        </tr>
        <tr>
          <th class="detail-product">メーカー</th>
          <td class="detail-value"><%= @review.manufacture.name %></td>
        </tr>
        <tr>
          <th class="detail-product">ラバーの種類</th>
          <td class="detail-value"><%= @review.type.name %></td>
        </tr>
        <tr>
          <th class="detail-product">打球感</th>
          <td class="detail-value"><%= @review.hardness.name %><span>度</span></td>
        </tr>
        <tr>
          <th class="detail-product">回転量</th>
          <td class="detail-value"><%= @review.spin.name %><span>点</span></td>
        </tr>
        <tr>
          <th class="detail-product">スピード</th>
          <td class="detail-value"><%= @review.speed.name %><span>点</span></td>
        </tr>
        <tr>
          <th class="detail-product">コントロール</th>
          <td class="detail-value"><%= @review.control.name %><span>点</span></td>
        </tr>
        <tr>
          <th class="detail-product">商品の価格</th>
          <td class="detail-value"><%= @review.price %><span>円</span></td>
        </tr>
        <tr>
          <th class="detail-product">総合評価</th>
          <td class="detail-value"><%= @review.evaluation.name %><span>点</span></td>
        </tr>
      </tbody>
    </table>

    <div class="product-content">
      <h3 class="detail-content-title">
        その他特筆すること
      </h3>
      <div class="detail-content">
        <%= @review.content %>
      </div>
    </div>

    <%# いいね機能 %>
      <div class="like-button-box">
        <%= render partial: "likes/like", locals: {review: @review} %>
      </div>
    <%# いいね機能/%>

    <% if user_signed_in? && current_user.id == @review.user_id %>
      <div class="review-buttons">
        <%= link_to edit_review_path, class:"edit-btn" do %>
          <div class="edit-btn-wrapper">
            <h3>
              <i class="fas fa-pen-nib"></i> 編集する
            </h3>
          </div>
        <% end %>
        <%= link_to review_path(@review.id), method: :delete, class:"delete-btn" do %>
          <div class="delete-btn-wrapper">
            <h3>
              <i class="fas fa-exclamation-triangle"></i> 削除する
            </h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="comments">
    <div class="comment-form">
      <% if current_user %>
        <%= form_with(model: [@review, @comment], local: true) do |form| %>
          <div class="comment-input-wrapper">
            <%= form.text_area :content, placeholder: "コメントを入力してください", rows: "3", class:"comment-input" %>
          </div>
          <div class="comment-btn-wrapper">
            <%= form.submit "コメント", class:"comment-btn" %>
          </div>
        <% end %>
      <% else %>
        <strong><p>コメントの投稿には新規登録/ログインが必要です</p></strong>
      <% end %>
    </div>
    <div class="comments-show">
      <div class="amount-of-comments">
        <div class="commments-number">
          <%= @comments.length %>
        </div>
        <div class="comments-text">
          <h4>件のコメント</h4>
        </div>
      </div>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment-content-wrapper">
            <p class="comment-content">
              <strong><%= link_to comment.user.nickname, user_path(comment.user.id), class:"comment-user" %>：</strong>
              <%= comment.content %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>