<!DOCTYPE html>
<html>
  <head>
    <title>Ping Pong Pimples</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    
    <%# ↓ Gemのgonを読み込み、Railsで定義した変数をJavaScriptでも使えるようにする %>
    <%= include_gon %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
